@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.CandyBar_Item {
  cursor:pointer;
  margin: 0.75rem;
  padding: 0.75rem;
  min-height: 4rem;
  max-width: 18rem;
  background-color: rgba(52, 186, 235, 0.75);
  border-radius: 0.25rem;
  -webkit-box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
  text-align: justify;
  text-justify: inter-word;
  font-family: "Roboto";
  font-size: 16pt;
  color:white;
  z-index: 99;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
} 

.CandyBar_Item:hover {
  background-color: rgba(52, 186, 235, 1);
}

.CandyBar_Item:active {
  background-color: rgba(52, 186, 235, 0.25);
  color:gray;
}

.CandyBar_Success {
  
}

.CandyBar_Info {
  
}

.CandyBar_Warning {
  
}

.CandyBar_Error {
  
}

.CandyBar_Container {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  overflow-y: hidden;
}
